.App {
  background-color: lightgrey;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}
.Card {
  max-width: 480px;
  margin: 0 auto !important;
}

.Input {
  background-color: white;
  padding: 1%;
}

.Sign-in {
  text-align: start;
  padding-top: 10%;
  padding-bottom: 10%;
}
.Box {
  padding: 1%;
}
